.round {
    border-radius: 250px;
    box-shadow: 0 0 0 2px rgb(20, 76, 119), 0 0 13px #333;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    }
.text {
    color: rgb(56, 32, 76);
}
.h1 {
    color: rgb(19, 19, 81);
    text-align: center;
}
body {background-color: rgb(194, 203, 211);}
.codeexample {
    background-color: rgb(202, 211, 219);
}
.growimg {
    transition: 2s; 
   }
   .growimg:hover {
    transform: scale(3.5); 
   }